@import "tailwindcss";

@font-face {
  font-family: 'Vazir';
  src: url('https://cdn.jsdelivr.net/npm/vazir-font@30.1.0/dist/Vazir-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Vazir', 'Tahoma', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
